# Eclipse stuff
/.classpath
/.project
/.settings

# NetBeans private folder
/nbproject/private

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/localexport.jardesc

# Mac filesystem dust
.DS_Store